.table-container {
  padding: 20px;
  display: flex;
  max-width: 100%;
  justify-content: center; /* Centers the table container */
}

.table-responsive-wrapper {
  overflow-x: auto; /* Enables horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
  max-width: 100%;
  border-radius: 10px;
  background-color: #23184b; /* Light background for wrapper */
  box-shadow: 0 5px 9px rgba(122, 102, 102, 0.253); /* Adds subtle shadow */
}

.standings-table {
  width: 100%;
  min-width: 800px; /* Ensures the table does not shrink too much */
  border-collapse: collapse;
  width: 1500px;
  height: 700px;
  font-size: 24px;
}

.standings-table th {
  padding: 10px;
  background-color: #333; /* Dark background for header */
  color: #ffffff; /* White text for header */
  font-weight: bold;
  text-align: center;
}

.standings-table td {
  padding: 8px;
  text-align: center;
  color: #333333; /* Dark text for cells */
}

.even-row {
  background-color: #dddddf; /* Slightly lighter background for even rows */
}

.odd-row {
  background-color: #ffffff; /* White background for odd rows */
}

.standings-table tr:hover {
  background-color: #6c3fe7; /* Entire row background color on hover */
}

.standings-table tr:hover td {
  color: #ffd700; /* Change text color of the entire row on hover */
}

.error-message {
  color: #ff4c4c; /* Red color for error message */
  font-weight: bold;
  padding: 10px;
}

@media (max-width: 600px) {
  
  /* Make the table responsive and auto-fit columns */
  .table-responsive-wrapper {
    overflow-x: auto;
  }
  
  .standings-table {
    width: 100%;
    table-layout: auto;
    font-size: 14px;
  }
}
