.standings-table-container {
  padding: 100px;
  display: flex;
  max-width: 100%;
  justify-content: center;
}

.standings-table-responsive-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
  border-radius: 10px;
  background-color: #23184b;
  box-shadow: 0 5px 9px rgba(122, 102, 102, 0.253);
}

.standings-table {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
  width: 1500px;
  height: 700px;
  font-size: 24px;
  cursor: pointer;
}

.standings-table th {
  padding: 10px;
  background-color: #333;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.standings-table td {
  padding: 8px;
  text-align: center;
  color: #333333;
}

.standings-even-row {
  background-color: #dddddf;
}

.standings-odd-row {
  background-color: #ffffff;
}

.standings-table tr:hover {
  background-color: #6c3fe7;
}

.standings-table tr:hover td {
  color: #ffd700;
}

.error-message {
  color: #ff4c4c;
  font-weight: bold;
  padding: 10px;
}

@media (max-width: 600px) {
  .standings-table-responsive-wrapper {
    overflow-x: auto;
  }

  .standings-table {
    width: 100%;
    table-layout: auto;
    font-size: 14px;
  }
}
